<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JGroups/src/org/jgroups/demos/applets/DrawApplet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS"/>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jgroups.demos.applets.DrawApplet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JGroups"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.net.preferIPv4Stack=true"/>
</launchConfiguration>
